.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
    padding: 5px 0px
  }
  
  h4 {
    margin-bottom: 10px;
    color: #001080;
  }
  